<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Entries</title>
</head>
<body>
  <h1>Entries</h1>
  <table id="entries">
    <tbody>
      <tr>
        <th>
          <time datetime="2011-07-10" pubdate="pubdate">July 10, 2011</time>
        </th>
        <td><a href="#">Most recent post's title</a></td>
      </tr>
      <tr>
        <th>
          <time datetime="2011-07-01" pubdate="pubdate">July 1, 2011</time>
        </th>
        <td><a href="#">Another post's title</a></td>
      </tr>
      <tr>
        <th>
          <time datetime="2010-01-01" pubdate="pubdate">January 1, 2011</time>
        </th>
        <td><a href="#">First post's title</a></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
